body {
    display: flex;
}

header {
    background-color: green;
    color: white;
    text-align: center;
    margin-top: 200px;
}

td{
    color: orange;
}


.content {
    padding: auto;
    margin: auto auto auto auto;
}

.footer {
    margin-top: 3px;
}